/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* основной цвет фона белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона 2F303A */

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196f3;
    --secondary-bg-gray-color: #2F303A;
}

body {
    background-color: #FFFFFF;
    color: #212121;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

}

ul {list-style: none;}

/* Стили для html */

/* шапка сайта site-nav*/

.logo {
    display: flex;
    font-family: Raleway, sans-serif;
    color: #2196f3;
    font-size: 26px;
    line-height: 1.2x;
    text-decoration: none;
}

.logo .second {
    color: #212121;
}
.site-nav .link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color:#2196f3 ;
}
.site-nav .link.current {
    color: #2196f3;
}
.auth-nav.link {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: #2196f3;
}

/* Слайдер*/

.hero {
    color: #FFFFFF;
    background-color: #2F303A;
}

.hero .title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;

}

/* button*/

.button {
    color: #FFFFFF;
    background-color: #2196f3;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}


/* Секция характеристики feature-list*/

.feature-list .title {
    color: #212121;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
}

.feature-list .text {
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
}


/* Секция занятия*/

.section .caption {
    color: #212121;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Секция команда*/

.team .title {
    color: #212121;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team .text {
    color: #757575;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

/* Footer*/

.logo .secondary {
    color: #FFFFFF;
}

.footer {
    background-color: #2F303A;
}


.contact .link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    font-style: normal;
}

.contact .link:hover,
.contact .link:focus {
    color: #2196f3;
}

.contact .info {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    font-style: normal;
}

.contact .info:hover,
.contact .info:focus {
    color: #2196f3;
}



/* Стили для Портфолио*/


.button.secondary {
    color: #212121;
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus {
    color: #FFFFFF;
    background-color: #2196f3;
}

.projects .title {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.projects .link {
    text-decoration: none;
}

